<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Msg</title>
</head>
<body>
    <h3>Write a New Message</h3>
    <form action="/chats" method="post">
    <input type="text" name="from" placeholder="Who are You?">
    <br><br>
    <input type="text" name="to" placeholder="Add Receiver">
    <br><br>
    <input type="text" name="msg" placeholder="Write a New Message">
    <br><br>
    <button>Create Chat</button>
    </form>
</body>
</html>